# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/

# Static files (if collected)
staticfiles/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log